*{
    margin:0;
    padding:0;
    font-family: Montserrat;
}

.card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  ;
    
    
}
.card-body{ 
    width: 18rem;
    background:url(img/background.jpg);
    background-size: cover;
    padding:10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgb(8, 239, 12);
}
.tag{
    font-size: 25px;
    background-color: rgb(125, 122, 122);
    color:#ffffff;
    border-radius:5px;
    padding:0px 10px 0 10px;
    
}
.card_img{
    width:8rem;
    margin:auto;
    margin-bottom: 10px;
}
.card_img img{
    width: 100%;
    border-radius: 50%;
    
}
.card-tittle {
    font-size: 20px;
    text-align: center;
    margin-bottom:5px;
}
.card-text .desciption{
    font-size:20px ;
    margin-bottom: 8px;
}
.card-text .phone .email{
    font-size: 30px;
}